<div class="container details bg-white p-5 rounded-4">
  <h3>Change Password</h3>
  <form class="container p-4 m-auto" method="POST">
    <div class="row">

      <div class="col mb-3">
        <label for="password" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
        />
      </div>
      <div class="col mb-3">
        <label for="rePassword" class="form-label">Repeat Password</label>
        <input
          type="password"
          class="form-control"
          id="rePassword"
          name="rePassword"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4 confirm">Change Password</button>
  </form>

</div>

<script src="/js/confirm.js"></script>