<div class="container details bg-white p-5 rounded-4">
  <h3>Add New Department</h3>
  <form class="container p-3 m-auto" method="POST">
    <div class="row">

      <div class="col mb-3">
        <label for="name" class="form-label">Department Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{department.name}}"
          placeholder="Enter Department Name"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4">Add New Department</button>
  </form>

</div>