        <div class="container details bg-white p-5 rounded-4">
            <h3>Edit Employee</h3>
            <form class="container p-4 m-auto" method="POST">
                <div class="row">
                    
                    <div class="col mb-3">
                        <label for="name" class="form-label">Employee Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{employee.name}}">
                    </div>
                    
                    <div class="col mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{employee.email}}">
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{employee.phone}}">
                    </div>
                    
                    <div class="col mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address" value="{{employee.address}}">
                    </div>
                </div>
                
            
                <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4">Save Changes</button>
            </form>
            
        </div>
