<div class="container details bg-white p-5 rounded-4">
  <h3>Request Leave</h3>
  <form class="container p-4 m-auto" action="" method="POST">
    <div class="row">

      <div class="col mb-3">
        <label for="employeeId" class="form-label">Employee Name</label>
        <select name="employeeId" id="employeeId" class="form-control">
          {{#generateNameOptions employees.results}}
          {{/generateNameOptions}}
        </select>
      </div>

      <div class="col mb-3">
        <label for="type" class="form-label">Type</label>
        <input
          type="text"
          class="form-control"
          id="type"
          name="type"
          value="{{leave.type}}"
        />
      </div>
    </div>

    <div class="row">

      <div class="col mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input
          type="date"
          class="form-control"
          id="startDate"
          name="startDate"
          value="{{inputDate leave.startDate}}"
        />
      </div>

      <div class="col mb-3">
        <label for="endDate" class="form-label">End Date</label>
        <input
          type="date"
          class="form-control"
          id="endDate"
          name="endDate"
          value="{{inputDate leave.endDate}}"
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4">Save
      Changes</button>
      <hr>
  </form>

  {{#requireManager user.role}}
    <form
      class="container p-4 m-auto"
      action="/leaves/findEmployee"
      method="POST"
    >
      <h3>Find Employee</h3>
      <div class="row">

        <div class="col mb-3">
          <label for="search" class="form-label">Employee Name</label>
          <input
            type="text"
            class="form-control"
            id="search"
            name="search"
            placeholder="Enter Name"
          />
        </div>
        <div class="col mb-3"></div>
      </div>
      <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4">Find
        Employee</button>
    </form>
  {{/requireManager}}
</div>