<div class="container details bg-white p-5 rounded-4">
  <h3>Edit User</h3>
  <hr />
  <h6 class="px-3">Search Employee Name</h6>
  {{> searchForm}}
  <form class="container p-3 m-auto" method="POST" action="/users/{{userData._id}}/edit">
    <div class="row">

      <div class="col mb-3">
        <label for="employeeId" class="form-label">Linked Employee</label>
        <select name="employeeId" id="employeeId" class="form-control">
          {{#generateNameOptions
            employees.results userData.employeeId
          }}{{/generateNameOptions}}
        </select>

      </div>
      <div class="col mb-3 d-flex align-items-end">
        <div class="form-check">
          <label class="form-check-label" for="noLink">Don't link employee</label>
          <input
            class="form-check-input"
            type="checkbox"
            id="noLink"
            name="noLink"
          />
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          value="{{userData.username}}"
        />
      </div>
      <div class="col mb-3">
        <label for="role" class="form-label">Role</label>
        <select name="role" id="role" class="form-control">
          {{#generateOptions roles userData.role}}{{/generateOptions}}
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4">Edit
      User</button>
  </form>

</div>
