<form id="searchForm" class="container m-auto" method="GET">
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        id="search"
        name="search"
        placeholder="Search..."
        value="{{search}}"
      />
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary btn-add rounded-5"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
    </div>
  </div>

</form>