        <div class="container bg-white p-5 rounded-3 table-wrapper">
            <!-- content header -->
            <div class="content-header d-flex justify-content-between">
              <h3 class="content-title">Departments List</h3>
              {{#requireManager user.role}}
              <a href="/departments/add" class="btn btn-primary btn-add rounded-5 py-2">
                <i class="fa-solid fa-plus"></i> Add New Department
              </a>
              {{/requireManager}}
            </div>
            <!-- table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody>
                {{#each departments.results}}
                <tr class="clickable-row" data-href="/departments/{{_id}}">
                  <td>{{name}}</td>
                  <td><a class="link" href="/departments/employees?departmentId={{_id}}">Check Employees <i class="fa-solid fa-arrow-right"></i></a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{>pagination departments}}
          </div>