<div class="text-center">
    <div class="details-icon m-5"><i class="fa-regular fa-face-frown fa-2xl"></i></div>
  <h1 class="fw-bold">404</h1>
  <h3>NOT FOUND</h3>
  <p>The resource requested was not found on the server</p>

</div>