<section class="container-fluid">
    <div class="auth-content row text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><i class="fa-solid fa-id-card"></i></h2></span>
            <h4 class="company_title">Human Capital Management</h4>
        </div>
        <div class="py-4 col-md-8 col-xs-12 col-sm-12 auth-form">
            <div class="container-fluid">
                <div class="row ">
                    <h2 class="auth-title">Sign In</h2>
                </div>
                <div class="row">
                    <form method="POST" class="form-group">
                      <div class="row">
                        <input
                          type="text"
                          name="username"
                          id="username"
                          placeholder="Username"
                          value="{{input.username}}"
                        />
                      </div>
                      <div class="row">
                        <input
                          type="password"
                          name="password"
                          id="password"
                          placeholder="Password"
                        />
                      </div>
                      <p class="auth-error">{{error.message}}</p>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn auth-btn">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Don't have an account? <a href="/auth/register">Register Here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>